@charset "utf-8";
/* CSS Document */

footer{
background-color: aqua;
}
footer p {
	font-size:  20px;
	font-family:  Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		color:violet;
}	
	
	
	
	
	
